/* starting state */
.home-once{
  opacity: 0;
}

/* active state */
.home-once-active {
  transition: opacity 1s linear 0.3s;
}

/* ending state */
.home-once-to {
  opacity: 1;
}


/* Distort Content */
.distort_section {
  transition: transform 0.25s;
  will-change: transform;
}