@import "home.css";
@import "fade.css";
@import "clip.css";
@import "slide.css";


.js-badge {
  position: fixed;
  top: 32px;
  left: 32px;
  border-radius: 16px;
  background-color: lightblue;
  color: black;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.2;
  font-size: 14px;
  cursor: pointer;
  z-index: 10000;
  transition: background-color 0.1s ease-out;
}

.js-badge:hover {
  background-color: rgb(228, 137, 193);
}

/* purple when it's local */
/* body {
  background-color: #eeebfc;
} */

/* green when it's in production */
/* body {
  background-color: #d2fcd2;
} */

:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}


.transition {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #c8cc98;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  z-index: 1;
}

.gs-dev-tools {
  z-index: 4;
}

/* Distort Content */
.distort_section {
  transition: transform 0.25s;
  will-change: transform;
}


/* buttonHover styles */

.cursor,
.follow {
    position: absolute;
    pointer-events: none;
    width: 0.4rem;
    height: 0.4rem;
    transform: translate(-50%, -50%);
}

.cursor {
    background-color: white;
    border-radius: 100%;
}

.follow {
    padding: 2rem;
    border: 0.1rem solid white;
    transition: all .3s ease-out;
    border-radius: 100%;
}

.follow.on-focus {
    /* this  below works in codepen but not in here. */
    /* transform: translate(.55rem, 0.55rem); */
    transform: translate(0rem, 0rem);
    border: 0.1rem solid white;
    border-radius: 0%;
    padding: 0.46rem;
}


/* Constance Souville CSS */

@media (max-width: 900px) {
  .constance_h1 {
    font-size: 2em;
  }
  .constance_p {
    font-size: 8px;
  }
}

/* Camille Mormal CSS */

.mormal_item img {
  /* Optional for Chrome */
  image-rendering: crisp-edges;
  /* Firefox */
  /* image-rendering: crisp-edges;  */
  /* Other browsers */
  /* image-rendering: pixelated;  */
  
  /* WebKit (Safari) */ 
  image-rendering: -webkit-optimize-contrast; 
  
  /* width: 100%; */
  /* height: auto; */
}
